@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Ubuntu+Mono:wght@400;700&family=Zen+Dots&display=swap');
body {
    background-color: #1d1330;
    font-size: 100%;
}

h1 {
    background: linear-gradient(
    to left, 
    #F3FFEA,
    #70EE9C
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: 'Zen Dots', sans-serif;
    font-size: 5rem;
    margin-right: 0;
}

h2 {
    color: #E26D5C;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.5rem;
}

h3 {
    color: #E26D5C;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2rem;
}

p {
    color: #2F2504;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.5rem;
    margin-top: 1rem;
}

li {
    color: #2F2504;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.5rem;
    margin-top: 1rem;
}

a.extern-link {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5rem;
    text-decoration: none;
}

a.extern-link:link {
    color: #E26D5C;
}

a.extern-link:visited {
    color: #A13323;
}

a.extern-link:hover {
    text-decoration: underline;
}

a.img-link {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: #E26D5C;
}

a.img-link:hover {
    color: #BDB8D2;
    font-weight: bold;
}

a.main-link {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5rem;
    text-decoration: none;
    color: #E26D5C;
}

a.main-link:hover {
    text-decoration: underline;
}

a.nav-link {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5rem;
    text-decoration: none;
}

a.nav-link:link {
    color: #E26D5C;
}

a.nav-link:visited {
    color: #E26D5C;
}

a.nav-link:hover {
    color: #BDB8D2;
    font-weight: bold;
}

#page-grid {
    display: grid;
    grid-template-areas:
        "head head head"
        "main main nav";
    grid-template-rows: 1fr, 15rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;   
}

#page-grid > header {
    grid-area: head;
    text-align: center;
}

#page-grid > nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    width: 15rem;
    right: 10rem;
    top: 15rem;
    position: fixed;
}

nav > .nav-link {
    text-align: right;
}

#page-grid > main {
    grid-area: main;
    background: linear-gradient(
    to left, 
    #BDB8D2,
    #F9F5FF 90%
  );
    text-align: left;
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
    z-index: 0;
}

.border {
    outline: solid #70EE9C;
    outline-width: medium;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    z-index: -1;
}

#profile-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

#blog-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
 
